---
import { Icon } from "astro-icon/components";
import type { App } from "../config";

interface Props {
  app: App;
}

const { app } = Astro.props;
---

<li>
  <a
    href={app.url}
    rel="noopener noreferrer"
    class="flex grid-flow-row flex-row space-x-2"
  >
    <Icon name={`material-symbols:${app.icon}`} size={48} />
    <div class="flex flex-col">
      <span class="font-bold uppercase">{app.title}</span>
      <span class="text-accent uppercase">{app.description}</span>
    </div>
  </a>
</li>
