---
---

<section>
  <astro-greeting>
    <p class="mb-4 uppercase" id="date">&nbsp;</p>
    <h1 class="text-5xl font-black" id="greeting">Good day!</h1>
  </astro-greeting>
</section>

<script>
  import dayjs from "dayjs";

  const currentTime = new Date();

  const greeting = () => {
    const dayTime = Math.floor(currentTime.getHours() / 6);
    switch (dayTime) {
      case 0:
        return "Good night!";
      case 1:
        return "Good morning!";
      case 2:
        return "Good afternoon!";
      case 3:
        return "Good evening!";
      default:
        return "Good day!"
    }
  };

  class AstroGreeting extends HTMLElement {
    connectedCallback() {
      const dateEl = document.querySelector("#date")
      const greetingEl = document.querySelector("#greeting")

      if (dateEl) {
        dateEl.innerHTML = dayjs(new Date()).format("dddd, D. M. YYYY")
      }

      if (greetingEl) {
        greetingEl.innerHTML = greeting()
      }
    }
  }

  console.log(currentTime)

  customElements.define("astro-greeting", AstroGreeting)
</script>
